.App {
  align-items: center;
  margin: 20px;
  .campaign-data-wrapper {
    width: 100%;
    height: 100%;
  }
}
.floating-filter {
  display: flex;
  align-items: center;
}
.active-cell-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: flex;
}
.inactive {
  background: #de1a24;
}
.active {
  background: #3f8f29;
}
.input-filter {
  padding: 2px;
}
.add-campaign-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 40px;
}
.add-campaign-input {
  height: 60px;
  width: 800px;
  padding: 10px;
}
.add-campaign-input:focus {
  outline: 3px solid transparent;
}
.add-campaign-button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.add-campaign-buttonbutton:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.add-campaign-button:disabled,
.add-campaign-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: none;
}
